:root {
    --main-padding: .5%;
}

.container {
    display: grid;
    height:100vh;
    grid-template-columns: 0.8fr 1.4fr 1fr 0.8fr; 
    grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr; 
    gap: 0.4rem; 
    grid-template-areas: 
    "header header header header"
    "nav article article aside"
    "nav img-1 img-2 aside"
    "footer footer footer footer"; 

    font-family: 'Poppins', helvetica, sans-serif;
    box-sizing:border-box;
}

header {
    grid-area: header;
    text-align: center;
}

h1 {
    margin:0;
    font-size: 2.5vw;
}

h2 {
    margin-top:0;
    font-size: 2vw;
}

nav{ 
    grid-area:nav;
    padding: var(--main-padding);
    font-size:1.5vw;
}

ul a +ul {
    max-height:0;
    overflow:hidden;
    transition:0.5s linear;
    }
  ul a:focus + ul {
    max-height:15em;
    }
  /* only select that link , here using the href attribute */
  a[href="nowhere"]:focus {
    pointer-events: none;
  }

li {
    list-style-type: none;
    padding: var(--main-padding);
}

a {
    text-decoration:none;
    color:black;
}

a:hover{
    color: #c74d00;
}

article {
    grid-area:article;  
}

h3 {
    font-size: 1.5vw;
}

p {
    font-size:1vw;
    font-weight: lighter;
}

aside {
    grid-area:aside;
    margin:16px 0;
    position:relative;
}

aside p {
    font-size:.5rem;
    position:absolute;
    bottom: 5%;
    left: 1%;
    text-align:left;
    padding-left:2%;
}

#img-1 {
    grid-area: img-1;
    overflow: contain;
}

img {
    width:100%;
    display:block;
}

#img-2 {
    grid-area: img-2;
}

footer {
    grid-area:footer;
}


/*phone*/
@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: .3fr .2fr 2fr .3fr .2fr;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer"
    }
}


/*tablet*/

/*extra large*/